{% extends "users/layout/base.html" %}
{% load staticfiles %}
{% load custom_tags %}

{% block css_header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/bootstrap-switch.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/betting.css' %}">
{% endblock %}


{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block body_block %}
    {% include 'users/layout/header.html' %}
    <div class="wrapper body-content">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <p class="bg-success ele-font-size text-center text-success element-pedding {% if message.tags %} {{ message.tags }} {% endif %}">
                        {{ message }}
                    </p>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-md-3">
                    <form method="post" action="{% url 'bet:create_preference_page' %}">
                        {% csrf_token %}
                        <table class="table table-bordered defaulttable">
                            <thead>
                            <tr>
                                <th colspan="2">Defaults</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Sport</td>
                                <td>
                                    {{ preference_form.game_type }}
                                </td>
                            </tr>
                            <tr>
                                <td>Time of game</td>
                                <td>
                                    {{ preference_form.game_interval }}
                                </td>
                            </tr>
                            <tr>
                                <td>Bet type</td>
                                <td>
                                    {{ preference_form.selected_line }}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center">
                                    <input type="hidden" name="redirect_link" value="{% url 'bet:create_bet_page' %}"/>
                                    <button id="SaveDefualt" name="save_defualt" class="btn btn-primary btn-block">Set
                                        Default
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="less-more-feature">
                        <span id="showLess" class="less-more"> << Show less sports and QTR’s</span>
                        <span id="showAll" class="hide less-more"> >> Show other sports and QTR’s</span>
                    </div>
                    <form class="form-horizontal bet-form"
                          id="betForm"
                          method="post"
                          action="{% url 'bet:create_bet_page' %}"
                          data-toggle="validator">
                        {% csrf_token %}
                        {{ form.is_default_amount }}

                        {% if form.errors %}
                            <div class="bg-danger ele-font-size text-center text-danger element-pedding">
                                {% for field in form %}
                                    {% if field.errors %}
                                        <p>{{ field.name }}: {{ field.errors.as_text }}</p>
                                    {% endif %}
                                {% endfor %}
                                {% if form.non_field_errors %}
                                    <p>{{ form.non_field_errors.as_text }}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="form-group ">
                            <div class="col-sm-6">
                                {{ form.game_name }}
                                {% if form.game_name.errors %}
                                    <div class="help-block with-errors text-danger">{{ form.game_name.errors.as_text }}</div>
                                {% else %}
                                    <div class="help-block with-errors text-danger"></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="btn-group btn-group-sm tabs" data-toggle="buttons">
                                    {% for choice in form.game_type %}
                                        <label for="{{ choice.id_for_label }}" class="game-type-label btn btn-default
                                                {% add_active_class choice.data.value form.game_type.data form.game_type.initial %}">
                                            {{ choice.tag }}
                                            {{ choice.choice_label }}
                                        </label>
                                    {% endfor %}
{#                                    {% if form.game_type %}#}
{#                                        <div class="help-block with-errors text-danger">{{ form.form.game_type.errors.as_text }}</div>#}
{#                                    {% else %}#}
{#                                        <div class="help-block with-errors text-danger"></div>#}
{#                                    {% endif %}#}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="btn-group btn-group-sm tabs">
                                    {% for choice in form.game_interval %}
                                        <label for="{{ choice.id_for_label }}"
                                               class="btn btn-default {% add_active_class choice.data.value form.game_interval.data form.game_interval.initial %}">
                                            {{ choice.tag }}
                                            {{ choice.choice_label }}
                                        </label>
                                    {% endfor %}
                                    {#                                    {% if form.game_interval %}#}
                                    {#                                        <div class="help-block with-errors text-danger">{{ form.form.game_interval.errors.as_text }}</div>#}
                                    {#                                    {% else %}#}
                                    {#                                        <div class="help-block with-errors text-danger"></div>#}
                                    {#                                    {% endif %}#}
                                </div>
                                <span>(QTRs for CFB, NFL, NBA only)</span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-6">
                                {{ form.game_team }}
                                {% if form.game_team.errors %}
                                    <div class="help-block with-errors text-danger">{{ form.game_team.errors.as_text }}</div>
                                {% else %}
                                    <div class="help-block with-errors text-danger"></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-6">
                                {{ form.rotation }}
                                {% if form.rotation.errors %}
                                    <div class="help-block with-errors text-danger" >{{ form.rotation.errors.as_text }}</div>
                                {% else %}
                                    <div class="help-block with-errors text-danger"></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div>Game Date (will remain on report until then, graded on that day)</div>
                                <div class="btn-group btn-group-sm tabs" data-toggle="buttons">
                                    {% for choice in form.bet_date %}
                                        <label for="{{ choice.id_for_label }}" class="btn btn-default">
                                            {{ choice.tag }}
                                            {{ choice.choice_label }}
                                        </label>
                                    {% endfor %}
                                    {#                                    {% if form.bet_date %}#}
                                    {#                                        <div class="help-block with-errors text-danger">{{ form.form.bet_date.errors.as_text }}</div>#}
                                    {#                                    {% else %}#}
                                    {#                                        <div class="help-block with-errors text-danger"></div>#}
                                    {#                                    {% endif %}#}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="btn-group btn-group-sm tabs" data-toggle="buttons">
                                    {% for choice in form.selected_line %}
                                        <label for="{{ choice.id_for_label }}"
                                               class="selected-line-label btn btn-default {% add_active_class choice.data.value form.selected_line.data form.selected_line.initial %}">
                                            {{ choice.tag }}
                                            {{ choice.choice_label }}
                                        </label>
                                    {% endfor %}
                                    {#                                    {% if form.selected_line %}#}
                                    {#                                        <div class="help-block with-errors text-danger">{{ form.form.selected_line.errors.as_text }}</div>#}
                                    {#                                    {% else %}#}
                                    {#                                        <div class="help-block with-errors text-danger"></div>#}
                                    {#                                    {% endif %}#}
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-sm-6">
                                {{ form.incoming_line }}
                                {% if form.incoming_line.errors %}
                                    <div class="help-block with-errors text-danger">{{ form.incoming_line.errors.as_text }}</div>
                                {% else %}
                                    <div class="help-block with-errors text-danger"></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-6">
                                {{ form.incoming_juice }}
                                {% if form.incoming_juice.errors %}
                                    <div class="help-block with-errors text-danger">{{ form.incoming_juice.errors.as_text }}</div>
                                {% else %}
                                    <div class="help-block with-errors text-danger"></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-6">
                                {{ form.amount }}
                                {% if form.amount.errors %}
                                    <div class="help-block with-errors text-danger">{{ form.amount.errors.as_text }}</div>
                                {% else %}
                                    <div class="help-block with-errors text-danger"></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="pull-left">
                                    <button id="previewbet" name="Preview" class="btn btn-primary" type="submit">
                                        Preview
                                    </button>
                                    <button id="clearbet" name="Clear" class="btn btn-info" type="button">Clear</button>
                                </div>
                                <div class="pull-right">
                                    <button id="sendbet" name="Send Bet" class="btn btn-success" type="button">Send
                                        Bet
                                    </button>
                                    <button id="savebet" name="Save Bet" class="btn btn-danger" type="button">Save
                                        Bet
                                    </button>
                                </div>
                            </div>

                            <!-- <button type="submit" class="btn btn-default preview">Submit</button> -->
                            {#                                <button type="submit" class="btn btn-primary preview">Submit</button>#}
                            {#                                <button type="button" class="btn btn-default clear">Clear</button>#}
                            {#                            </div><!-- col-md -->#}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include 'users/layout/footer.html' %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{% endblock %}

{% block js_footer %}
    {{ block.super }}
    <script src="{% static 'js/validator.min.js' %}"></script>
    <script src="{% static 'js/betting.js' %}"></script>

{% endblock %}