{% extends "users/layout/base.html" %}
{% load staticfiles %}

{% block css_header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/bootstrap-switch.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}


{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block body_block %}
    {% include 'users/layout/header.html' %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <p class="bg-success ele-font-size text-center text-success element-pedding {% if message.tags %} {{ message.tags }} {% endif %}">
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}
        <div class="wrap">

            <div class="container">
                <div class="site-index">
                    <div class="Wrapper">
                        <h4>Welcome to Auto Bettor</h4>
                        <p>To bet Click on the <a href="http://enacteservices.com/bettingSite/frontend/web/bet">link</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'users/layout/footer.html' %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{% endblock %}

{% block js_footer %}
    {{ block.super }}
{% endblock %}