{% extends 'users/layout/form-layout.html' %}
{% load staticfiles %}

{% block form_header %}
    {{ block.super }}
    <div class="forget-title">Reset Password</div>
    <div class="forget-text">Enter your password below to change the password on your</div>
{% endblock %}

{% block main_form %}

    {% if validlink %}
    <form class="form-horizontal login-form col-center"
          action="{% url 'users:password_reset' uidb64=uidb64 token=token %}"
          method="post">
        {% csrf_token %}
        <div class="form-group ">
            <div class="col-lg-7 col-xs-12 col-sm-7 col-center ">
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    <p class="ele-font-size text-danger ">{{ form.new_password1.errors.as_text }}</p>
                {% endif %}
            </div>
        </div>
        <div class="form-group ">
            <div class="col-lg-7 col-xs-12 col-sm-7 col-center ">
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <p class="ele-font-size text-danger ">{{ form.new_password2.errors.as_text }}</p>
                {% endif %}
            </div>
        </div>
        <div class="form-group ">
            <div class="col-lg-7 col-xs-12 col-sm-7  col-center ">
                <button type="submit"
                        class="btn btn-primary custom-login-btn custom-btn-block">
                    RESET PASSWORD
                </button>
            </div>
        </div>
    </form>
        {% else %}
        <p>
        This link is not valid
        </p>
    {% endif %}
{% endblock %}
